.App {
  text-align: center;
}

.App-Container {
  display: flex;
  flex-direction: row;
}

.App-Section,
.App-Category,
.App-Faq {
  margin: 20px;
}

.App-Section .selected {
  background: wheat;
}

.App-Category .selected {
  background: wheat;
}

.App-FaqItem {
  display: flex;
  flex-direction: column;
}

.App-FaqItem.selected {
  background: wheat;
}
